{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <header class = 'flex top space-between'>
        <div class ='flex'>
          <img src="{% static 'images/mainIm.jpg' %}" alt="Icon" class="icon">
          <b><div class = 'text-from-icon'>Rage Kingdom</div></b>

        </div>
        <div>
            <b><a class = 'text-from-icon'> Кастомізація ролей &#8594;</a></b>
            <a class = 'top-button' href="{% url 'social:begin' 'discord' %}" >Увійти через Discord</a>
        </div>
    </header>
    <div class ='flex space-between'>
        <div></div>
        <div>
            <p> &#128101;  Нас - :{{ num_users }}</p>
            <p> &#127774;  Онлайн - ::{{ num_online_users }}</p>
            <p> &#128172;  Балакають - :{{ users_in_voice|safe }}</p>
        </div>
    </div>
    <div>
        <h1>........</h1>

        <h2>.....</h2>
        <p>Приєднуйся до нашої основної платформи спілкування</p>

        <a href="https://discord.gg/S2CZMURspv" >Приєднатися</a>

        <div>
            <p><strong>......</strong></p>
            <p>............</p>
        </div>
    </div>
</div>
{% endblock %}