{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <div>
        <div>
            <img src="{% static 'images/mainIm.jpg' %}" alt="Аватар">
        </div>
        <div>
            <a href="{% url 'social:begin' 'discord' %}" >Увійти через Discord</a>
        </div>
    </div>
    <div>
        <div>
            <p> Загальна кількість учасників сервера:{{ num_users }}</p>
            <p> Загальна кількість онлайн учасників сервера:{{ num_online_users }}</p>
            <p> Загальна кількість учасників сервера в голосовому каналі:{{ users_in_voice|safe }}</p>
        </div>
    </div>
    <div>
        <h1>........</h1>

        <h2>.....</h2>
        <p>Приєднуйся до нашої основної платформи спілкування</p>

        <a href="https://discord.gg/S2CZMURspv" >Приєднатися</a>

        <div>
            <p><strong>......</strong></p>
            <p>............</p>
        </div>
    </div>
</div>
{% endblock %}