@use 'slider';
@use 'header';


body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  background-image: url('../images/Та-зФільтрами.png');
  background-repeat: no-repeat;
  background-size: cover;
}
