body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.top{
  background-color: #282424;
}

.icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 25px;
  margin-bottom: 2px;
  border: 5px solid #335da2;
  object-fit: cover;

}

.text-from-icon {
  margin-left: 50px;
  font-size: 16px;
  color: #ffffff;
}

.top-button{
  background-color: #5865f2;
  color: white;
  padding: 10px 20px;
  margin-right: 25px;
  border-radius: 8px;
}

.top-button:hover {
  background-color: #4752c4;
}

.text-from-button {
  font-size: 16px;
  color: #ffffff;
}

.info-div{

}